@font-face {
  font-family: 'geo-sans-light';
  src: url("../fonts/geo_sans_light/GeosansLight.ttf");
}

.faq {
    background: none;
    border: 10px solid #3F6185;
    color: #ffffff;    
    height: 100%;
    cursor: pointer;
}

.faq-body {
    display: none;
    font-size: 16px;
    /*border-top: 5px solid #6BB0F2;*/
}
.panel-primary > .panel-heading {
    background: #5A8EC5;
    border-bottom: none;
    color: #2C2C31;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s; 
}
.panel-primary > .panel-heading:hover {
    background: #6BB0F2;
}

a {
    color: #ffd600;
}

a:hover {
    color: #ccaa00;

}

.faq-row {
/*    padding-bottom: 10px;
    padding-top: 10px;*/
}

h2 {
    color: #ffffff;
}