@font-face {
  font-family: 'geo-sans-light';
  src: url("../fonts/geo_sans_light/GeosansLight.ttf");
}

.faq {
    background: none;
    border: 10px solid #3F6185;
    color: #ffffff;    
    height: 100%;
    cursor: pointer;
}

.faq-body {
    display: none;
}

.panel-primary > .panel-heading {
    background: none;
    border-bottom: 5px solid #ffd600;

}

a {
    color: #ffd600;
}

a:hover {
    color: #ccaa00;

}

.faq-row {
    padding-bottom: 10px;
    padding-top: 10px;
}

h2 {
    color: #ffffff;
}