/*Fonts*/
@font-face {
  font-family: 'geo-sans-light';
  src: url("../fonts/geo_sans_light/GeosansLight.ttf");
}

/*greys: (#2C2C31, #4F4744); blues: ( #204F80, #3178C4, #3D9BF5, #5FB1FC); yellows: (#ffc027, #ffd600)*/

html {
  height: 100%;
}
/* Some general purpose styles */
.fancy {
  font-family: 'geo-sans-light', sans-serif;
}
.subtle-link  {
  text-decoration: none;
  color: #FFFFFF;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;  
}
.subtle-link:hover {
  color: #ffd600;
  text-decoration: none;
}
.subtle-link:focus {
  color: #ffffff;
  text-decoration: none; 
}
/* Section styles */
.hacknc-body {
  background-color: #5FB1FC;
  height: 100%;
  overflow-x: hidden;
}
.parallax-mirror{
  /* Webkit color separated image looks best with pixelated, but others look best with auto. */
  image-rendering: pixelated;
  /* Opera */
  image-rendering: -o-crisp-edges;
  /* Best on Firefox and Safari, put this on bottom, webkit will ignore. */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  /* IE */
  -ms-interpolation-mode: nearest-neighbor;
}
.parallax-window {
  height: 100%;
}
.parallax {
  /* Webkit color separated image looks best with pixelated, but others look best with auto. */
  image-rendering: pixelated;
  /* Opera */
  image-rendering: -o-crisp-edges;
  /* Best on Firefox and Safari, put this on bottom, webkit will ignore. */
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  /* IE */
  -ms-interpolation-mode: nearest-neighbor;
  /*background-image: url("../images/landing/old/bg-gradient.png");
  z-index: -200;*/
  height: 100%;
}
.mobile-no-parallax {
  image-rendering: pixelated;
  background-image: url("../images/flattened.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;   
  width:100%;
}
#header-container {
  background-image: url("../images/medium-landing/layer1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; 
  width:100%;
  height: 100%;
}
#navbar {
  overflow: hidden;
  background-color: transparent;
  z-index: 100;
  background-color: #2C2C31;
}
.navi {
  list-style-type: none;
  padding-left: 0px;
}
#navbar.sticky {
  margin-top: 0px;
  position: fixed;
  top: 0px;
  background-color: #2C2C31;
  width: 100%;
}
#navbar.relative {
  bottom: 0px;
  position: absolute;
}
.navi li {
  /*width: 80px;*/
  font-family: 'geo-sans-light', sans-serif;
  font-size: 22px;
  float: left;
  display: block;
}
.navi a{
  /*display: block;  */
}
.tape {
  height: 40px;
  width: 100%;
  margin-top: -20px;
  background-color: #2C2C31;
}
.apply {
  width: 100%;
  display: block;
  position: relative;
  display: none;
}
#apply-button {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}
.apply .btn {
  background-color:#ffd600;
  color: #204F80;
  font-family: 'geo-sans-light', sans-serif;
  font-size: 35px;
  border-bottom: 3px solid #ffc027; 
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;  
  width: 100%;
}
.apply h3 {
  text-align: center;
  font-family: 'geo-sans-light', sans-serif;
  color: #FFFFFF;
}
.apply .btn:hover {
  color: #FFFFFF;
}
.shell {
  width: 100%;
  z-index: 10;
}
.shell.blue {
  background-color: #3178C4;
}
.shell.gray {
  background-color: #2C2C31;
}
.subsection {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom:20px;
}
.subsection p {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1.3em;
  line-height: 1.9em;  
  font-family: sans-serif;
  font-weight: 150;
}
.subsection a:hover{
  text-decoration: none;
}
.subsection h2 {
  margin-top: 20px;
  font-family: 'geo-sans-light', cursive;
  font-size: 45px;
  background-image: url("../images/header1.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 15px;
}
.stay-tuned {
  /*border: 10px solid #204F80;*/
}
.social-media ul {
  margin-top: 42px;
  font-family: 'geo-sans-light', cursive;
  font-size: 30px;
  /*background-color: #2C2C31;*/
  height: 100%;
  width: 250px;
  padding-left: 0px;
}
.social-media li {
  list-style-type: none;
}
.social-media .fa {
  color: #ffd600;
}
.social-media ul a{
  text-decoration: none;
  color: #FFFFFF;
}
.mission-statment {
  margin-top: 20px;
}
.buttons {
  margin-top: 20px;
}
.buttons a{
  display:block;
  margin-left:auto;
  margin-right: auto;
}
.buttons button {
  margin: 0 auto;
  width: 100%;
  min-width: 150px;
  height: 60px;
  background-color:#ffd600;
  color: #FFFFFF;
  font-family: 'geo-sans-light', sans-serif;
  font-size: 40px;
  border: 0px; 
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  margin-top: 15px;
}
.buttons button:hover {
  color: #204F80;
}
.mobile-app .phone {
  text-align: center;
  margin-top: 40px;
  width: 125px;
  height: 250px;
}
.mobile-app h2 {
}
.mobile-app p {
  margin-bottom: 30px;
}
.map-container {
  margin-top: 40px;
  width:100%;
  height:350px;
}
#sponsor-email{
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
#sponsor-email .fa {
  font-size: 30px;
  color: #ffd600;
}
.round-border {
  border: 4px solid #204F80;
  border-radius: 4px;
}
#map {
  width:100%;
  height:100%;
}
.footer p{
  text-align: center;
  font-size: 12px;
  opacity: .4;
}
.footer img {
  opacity: .5;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer img:hover{
  opacity: .8;
}
.footer ul {
  margin-top: 40px;
/*  margin-right: auto;
  margin-left: auto;*/
  width: inherit;
}
.footer .navi li{
  display: list-item;
  clear: both;
  opacity: .3;
  font-size: 28px;
}
/* Sections based on screen size*/
@media (min-width: 0px){
  #header-container {
      /*height: 400px;*/
  }
  .hacknc-body {
    background-color: #2C2C31;
  }
  .apply {
    padding-top: 220px;
    position: relative;
  }
  .mobile-no-parallax {
    display: block;
    height: 500px;
    background-position: center bottom; 
  }
  .tape {
    display: none;
  }
  .parallax {
    display: none;
  }
  .stay-tuned {
    border: 0px;
    margin-top: -20px;
  }
  .navi li {
    font-size: 18px;
    /*width: 85px;*/
    padding-left: 20px;
    margin-top: -8px;
  }
  #navbar {
    top: 450px;
    background-color: transparent;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer .navi{
    display: none;
  }
}
@media (min-width: 768px){
  .stay-tuned {
    /*border: 10px solid #204F80;*/
    margin-top: 0px;
  }
  #header-container {
      /*height: 600px;*/
  }
  .hacknc-body {
    background-color: #5FB1FC;
  }
  .apply {
    /*padding-top: 23%;*/
    padding-top: 0px;
    top: 42%;
    position: fixed;
  }
  .tape {
    display: block;
  }
  .mobile-no-parallax {
    display: none;
  }
  .parallax {
    display: block;
  }
  .navi li {
    font-size: 22px;
    /*width: 100px;*/
    padding-left: 40px;
    margin-top: 0px;
  }
  #navbar {
    /*bottom: 0px;*/
    top: initial;
    background-color: #2C2C31;
    border-bottom: 3px solid #272727;
  }
  .footer .navi{
    display: block;
  }
}
@media (min-width: 1170px){
  #header-container {
    /*height: 850px;*/
  }
  .apply {
    /*padding-top: 340px;*/
    /*top:40%;*/
  }
  #navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1400px){
  .navi li {
    font-size: 24px;
  }
}

.black {
  background-color: black;
}

.centered {
  margin-right: auto;
  margin-left: auto;
  display:block;
}