$white: #FFFFFF;
$black: #000000;

$gray: #2C2C31;
$light-gray: #272727;
$brown: #4F4744;

$blue-1: #204F80; // Darkest
$blue-2: #3178C4;
$blue-3: #3D9BF5;
$blue-4: #5FB1FC; // Lightest

$dark-yellow: #FFC027;
$yellow: #FFD600;
 