@import 'colors';

#header {
  background-color: $gray;

  img{
    &.header-img {
      height: 300px;
      display: block;
      margin: 0 auto;
      margin-top: -30px;
    }
  }
}

.markdown {
  p {
    font-size: 16px;
  }
  ul{
    li {
      font-size: 16px;
    }
  }
  a {
    color: $blue-2;
    &:hover{
        color: $blue-3;
        text-decoration: underline;
    }
    &:visited{

    }
  }
  margin-top: 30px;
  margin-bottom: 30px;
}

iframe {
  margin-bottom: -5px;
}