@import 'colors';

#header {
  background-color: $gray;

  img{
    &.header-img {
      height: 300px;
      display: block;
      margin: 0 auto;
      margin-top: -30px;
    }
  }
}

.markdown {
  p {
    font-size: 16px;
  }
  ul{
    li {
      font-size: 16px;
    }
  }
  a {
    color: $blue-2;
    &:hover{
        color: $blue-3;
        text-decoration: underline;
    }
    &:visited{

    }
  }
  table {
    td, th {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 15px;
    }
    margin: 20px 0;
  }
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.1em;
}

body {
  &.external{
    iframe {
      margin-bottom: -5px;
    }
    
    #navbar {
      padding-top: 0px;
      &.relative {
        position: relative;
      }
      background-color: $gray;
      top: 0px;
    }
  }
}

.panel {
  margin-top: 40px;
}