@media (min-width: 0px){
  #header-container {
    // height: 400px;
  }
  .hacknc-body {
    background-color: $gray;
  }
  .apply {
    padding-top: 220px;
    position: relative;
  }
  .mobile-no-parallax {
    display: block;
    height: 500px;
    background-position: center; 
  }
  .tape {
    display: none;
  }
  .parallax {
    display: none;
  }
  .stay-tuned {
    border: 0px;
    margin-top: -20px;
  }
  .navi li {
    font-size: 18px;
    // width: 85px;
    padding-left: 12px;
    margin-top: -8px;
  }
  #navbar {
    top: 450px;
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer .navi{
    display: none;
  }
  .ram-sprite {
    display: none;
  }
  #mlh-trust-badge {
    display:none;
  }
  .extra {
    display:none;
  }
  #header img.header-img{
    width: 100%;
    height: auto;
  }
}
@media (min-width: 550px) {
  #mlh-trust-badge {
    display: block;
    position: absolute;
  }
  .ram-sprite {
    display: block;
  }
  #info-box {
    width: 100%;
  }
  .extra {
    display:block;
  }
  .navi li {
    font-size: 20px;
    padding-left: 23px;
  }
}

@media (min-width: 768px){
  .stay-tuned {
    // border: 10px solid $blue-1;
    margin-top: 0px;
  }
  #header-container {
    // height: 600px;
  }
  .hacknc-body {
    background-color: $blue-4;
  }
  .apply {
    // padding-top: 23%;
    padding-top: 0px;
    top: 42%;
    position: fixed;
  }
  .tape {
    display: block;
  }
  .mobile-no-parallax {
    display: none;
  }
  .parallax {
    display: block;
  }
  .navi li {
    font-size: 22px;
    // width: 100px;
    padding-left: 40px;
    margin-top: 0px;
  }
  #navbar {
    // bottom: 0px
    top: initial;
    background-color: $gray;
    border-bottom: 3px solid $light-gray;
  }
  .footer .navi{
    display: block;
  }
  #header img.header-img{
    width: auto;
    height: 300px;
  }
}
@media (min-width: 1170px){
  #header-container {
    // height: 850px;
  }
  .apply {
    // padding-top: 340px;
    // top:40%;
  }
  #navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #mlh-trust-badge {
    position:fixed;
  }
}
@media (min-width: 1400px){
  .navi li {
    font-size: 24px;
  }
}