@import 'bootstrap/bootstrap';
@import 'fonts';
@import 'colors';
@import 'external';

html {
  height: 100%;
}
// Helper methods
.fancy {
  font-family: $header-font;
}
.subtle-link {
  text-decoration: none;
  color: $white;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  cursor: pointer;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

.black {
  background-color: $black;
}

.centered {
  margin-right: auto;
  margin-left: auto;
  display:block;
}

a {
  color: $yellow;
  &:hover{
    color: $dark-yellow;
  }
}
.anchor{
  display: block;
  position: relative;
  top: -50px;
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Section styles */
.hacknc-body {
  background-color: $blue-4;
  height: 100%;
  overflow-x: hidden;
}

.parallax, .parallax-mirror {
  // Webkit color separated image looks best with pixelated, but others look best with auto.
  image-rendering: pixelated;
  // Opera
  image-rendering: -o-crisp-edges;
  // Best on Firefox and Safari, put this on bottom, webkit will ignore.
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  // IE
  -ms-interpolation-mode: nearest-neighbor;
  // background-image: url("../img/landing/old/bg-gradient.png");
  // z-index: -200
}
.parallax, .parallax-window{
  height: 100%;
}
.mobile-no-parallax {
  image-rendering: pixelated;
  background-image: url("../img/flattened-rev2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;   
  width: 100%;
}
#header-container {
  background-image: url("../img/landing-rev2/layer1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; 
  width: 100%;
  height: 100%;
}
#navbar {
  overflow: hidden;
  background-color: transparent;
  z-index: 100;
  background-color: $gray;
  &.relative{
    bottom: 0px;
    position: absolute;
  }
  &.sticky{
    margin-top: 0px;
    position: fixed;
    top: 0px;
    background-color: $gray;
    width: 100%;
  }
  .navi li:first-of-type {
    padding-left: 0px;
  }
}

.navi {
  list-style-type: none;
  padding-left: 0px;
  li {
    /*width: 80px;*/
    font-family: $header-font;
    font-size: 22px;
    float: left;
    display: block;
  }
  a {
    // display: block;
  }
}
#mlh-trust-badge {
  max-width:100px;
  min-width:60px;
  top:0;
  left:50px;
  width:10%;
  z-index:10000;
  img {
    width: 100%;
  }
}
.apply {
  width: 100%;
  display: block;
  position: relative;
  display: none;
  h3 {
    text-align: center;
    font-family: $header-font;
    color: $white;
  }
}
#apply-button {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  .btn {
    background-color: $yellow;
    color: $blue-1;
    font-family: $header-font;
    font-size: 35px;
    border-bottom: 3px solid $dark-yellow; 
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;  
    width: 100%;
    &:hover {
      color: $white;
    }
  }
}
.apply-section {
  ol{
    li {
      font-size: 1.3em;
      line-height: 1.9em;
    }
  }
  .btn {
    margin-top: 30px;
    vertical-align: middle;
    float: left;
  }
}

.tape {
  height: 40px;
  width: 100%;
  margin-top: -20px;
  background-color: $gray;
}

.shell {
  width: 100%;
  z-index: 10;
  &.white {
    background-color: $white;
  }
  &.blue {
    background-color: $blue-2;
  }
  &.gray {
    background-color: $gray;
  }
  .subsection {
    color: $white;
    margin-top: 20px;
    margin-bottom:20px;
    p {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 1.3em;
      line-height: 1.9em;  
      font-family: $body-font;
      -webkit-font-smoothing: antialiased;
      font-weight: 150;
    }
    a:hover{
      text-decoration: none;
    }
    h2 {
      margin-top: 20px;
      font-family: $header-font-cursive;
      font-size: 45px;
      background-image: url("../img/header1.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      padding-bottom: 15px;
    }
  }
}

.teaser-shell {
  .stay-tuned{
    // border: 10px solid #204F80
  }
}
a {
  &.no-decoration-link {
    color: $white;
    text-decoration: none;
    &:hover {
    color: white;
    text-decoration: none;
    }
    &:active {
    color: white;
    text-decoration: none;
    }
    &:visited {
    color: white;
    text-decoration: none;
    }
  }
}
.social-shell {
  ul.social-media {
    margin-top: 20px;
    font-family: $header-font-cursive;
    font-size: 23px;
    text-align: center;
    // background-color: $gray;
    height: 100%;
    width: 100%;
    padding-left: 0px;
    li {
      list-style-type: none;
      margin-left: 10px;
      margin-right: 10px;
      display: inline-block;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      a {
        text-decoration: none;
        color: $white;
      }
      .fa {
        color: $yellow;
      }
    }
  }
  .ram-sprite {
    width: 196px;
    height:196px;
  }
  #info-box{
    margin: 30px 0px;
    p {
      &#info {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 24px;
      font-family: $header-font-cursive;
      font-weight: 700;
      text-align: center;
      }
    }
  }
}

.about-shell {
  .mission-statment {
    margin-top: 20px;
  }
}

.faq-shell {
  h2 {
      color: $white;
  }
  .faq {
    margin-top: 20px;
    border: 4px solid $blue-1;
    border-radius: 4px;
    color: $white;    
    height: 100%;
    cursor: pointer;    
    h3 {
      font-family: $header-font;
      font-weight: bold;
      cursor: pointer;
    }
    .faq-body {
      display: none;
      font-size: 16px;
      padding: 20px;
    } 
    .panel-heading {
      padding: 10px 20px;
      border-bottom: none;
      color: $white;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      cursor: pointer;
      background: $blue-2;
      &:hover{
        background: $blue-3;
      }
    }
  }
}

.sponsor-shell {
  #sponsor-email{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    border: 4px solid $blue-1;
    border-radius: 4px;
    .fa {
      font-size: 30px;
      color: $yellow;
    }
  }
    
  .logo-container{
  text-align: center;
  }
  img {
    display:inline-block;
    &.one {
      height: 65%;
      width: 65%;
    }
    &.two {
      height: 30%;
      width: 30%;
    }
  }
}

.schedule-shell {
  table {
    width: 100%;
    font-size: 1.3em;
    td {
      padding: 4px 10px;
      &.time {
        width: 130px;
      }
      &.event {
        min-width: 280px;
      }
      &.place {
        min-width: 100px;
      }
      &.daycell {
        background-color: $gray;
        padding: 4px 0;
      }
    }
    tr {
      &.day {
        font-size: 1.7em;
        font-weight: 600;
      }
    }
    tr:nth-child(even) {
      background-color: $table-gray;
    }
  }
}
.footer-shell {
  p {
    text-align: center;
    font-size: 10px;
    opacity: .4;
    &.gitlink {
      font-size: 14px;
    }
  }
  img {
    opacity: .5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      opacity: .8;
    }
  }
  ul.navi {
    margin-top: 10px;
    // margin-right: auto;
    // margin-left: auto;
    width: inherit;
    li{
      display: list-item;
      clear: both;
      opacity: .3;
      font-size: 24px;
    }
  }
}

@import 'mediaqueries';
@import 'mailchimp';
