@import 'bootstrap/bootstrap';
@import 'fonts';
@import 'colors';

html {
  height: 100%;
}
// Helper methods
.fancy {
  font-family: $header-font;
}
.subtle-link {
  text-decoration: none;
  color: $white;
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  cursor: pointer;
  &:hover {
    color: $yellow;
    text-decoration: none;
  }
  &:focus {
    color: $white;
    text-decoration: none;
  }
}

a {
  color: $yellow;
  &:hover{
    color: $dark-yellow;
  }
}

/* Section styles */
.hacknc-body {
  background-color: $blue-4;
  height: 100%;
  overflow-x: hidden;
}

.parallax, .parallax-mirror {
  // Webkit color separated image looks best with pixelated, but others look best with auto.
  image-rendering: pixelated;
  // Opera
  image-rendering: -o-crisp-edges;
  // Best on Firefox and Safari, put this on bottom, webkit will ignore.
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  // IE
  -ms-interpolation-mode: nearest-neighbor;
  // background-image: url("../img/landing/old/bg-gradient.png");
  // z-index: -200
}
.parallax, .parallax-window{
  height: 100%;
}
.mobile-no-parallax {
  image-rendering: pixelated;
  background-image: url("../img/flattened.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;   
  width: 100%;
  margin-bottom: 20px;
}
#header-container {
  background-image: url("../img/medium-landing/layer1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; 
  width: 100%;
  height: 100%;
}
#navbar {
  overflow: hidden;
  background-color: transparent;
  z-index: 100;
  background-color: $gray;
  &.relative{
    bottom: 0px;
    position: absolute;
  }
  &.sticky{
    margin-top: 0px;
    position: fixed;
    top: 0px;
    background-color: $gray;
    width: 100%;
  }
  .navi li:first-of-type {
    padding-left: 0px;
  }
}

.navi {
  list-style-type: none;
  padding-left: 0px;
  li {
    /*width: 80px;*/
    font-family: $header-font;
    font-size: 22px;
    float: left;
    display: block;
  }
  a {
    // display: block;
  }
}

.apply {
  width: 100%;
  display: block;
  position: relative;
  display: none;
  #apply-button {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  h3 {
    text-align: center;
    font-family: $header-font;
    color: $white;
  }
  .btn {
    background-color: $yellow;
    color: $blue-1;
    font-family: $header-font;
    font-size: 35px;
    border-bottom: 3px solid $dark-yellow; 
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;  
    width: 100%;
    &:hover {
      color: $white;
    }
  }
}

.tape {
  height: 40px;
  width: 100%;
  margin-top: -20px;
  background-color: $gray;
}

.shell {
  width: 100%;
  z-index: 10;
  &.blue {
    background-color: $blue-2;
  }
  &.gray {
    background-color: $gray;
  }
  .subsection {
    color: $white;
    margin-top: 20px;
    margin-bottom:20px;
    p {
      margin-top: 20px;
      margin-bottom: 30px;
      font-size: 1.3em;
      line-height: 1.9em;  
      font-family: $body-font;
      -webkit-font-smoothing: antialiased;
      font-weight: 150;
    }
    a:hover{
      text-decoration: none;
    }
    h2 {
      margin-top: 30px;
      font-family: $header-font-cursive;
      font-size: 45px;
      background-image: url("../img/header1.png");
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: contain;
      padding-bottom: 15px;
    }
  }
}

#teaser {
  .stay-tuned{
    // border: 10px solid #204F80
  }
}

#social {
  ul.social-media {
    margin-top: 60px;
    font-family: $header-font-cursive;
    font-size: 30px;
    // background-color: $gray;
    height: 100%;
    width: 250px;
    padding-left: 0px;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: $white;
      }
      .fa {
        color: $yellow;
      }
    }
  }
}

#about {
  .mission-statment {
    margin-top: 20px;
  }
}

#faq {
  h2 {
      color: $white;
  }
  .faq-row {
    // padding-bottom: 10px;
    // padding-top: 10px;
  }
  .faq {
    background: none;
    border: 4px solid $blue-1;
    color: $white;    
    height: 100%;
    cursor: pointer;
    h3 {
      font-family: $header-font;
      font-weight: bold;
      cursor: pointer;
    }
    .faq-body {
      display: none;
      font-size: 16px;
      // border-top: 5px solid #3D9BF5;
    } 
    .panel-primary > .panel-heading {
      background: $blue-2;
      border-bottom: none;
      color: $white;
      transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      cursor: pointer;
      &:hover{
        background: $blue-3;
      }
    }
  }
}

#sponsor{
  #sponsor-email{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    border: 4px solid $blue-1;
    border-radius: 4px;
    .fa {
      font-size: 30px;
      color: $yellow;
    }
  }
}

#footer {
  p {
    text-align: center;
    font-size: 12px;
    opacity: .4;
  }
  img {
    opacity: .5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:hover {
      opacity: .8;
    }
  }
  ul.navi {
    margin-top: 40px;
    // margin-right: auto;
    // margin-left: auto;
    width: inherit;
    li{
      display: list-item;
      clear: both;
      opacity: .3;
      font-size: 28px;
    }
  }
}

/* Sections based on screen size*/
@media (min-width: 0px){
  #header-container {
    // height: 400px;
  }
  .hacknc-body {
    background-color: $gray;
  }
  .apply {
    padding-top: 220px;
    position: relative;
  }
  .mobile-no-parallax {
    display: block;
    height: 500px;
    background-position: center; 
  }
  .tape {
    display: none;
  }
  .parallax {
    display: none;
  }
  .stay-tuned {
    border: 0px;
    margin-top: -20px;
  }
  .navi li {
    font-size: 18px;
    // width: 85px;
    padding-left: 20px;
    margin-top: -8px;
  }
  #navbar {
    top: 450px;
    background-color: transparent;
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 10px;
    &.relative{
      height: 50px;
      border-bottom: none;
    }
  }
  .footer .navi{
    display: none;
  }
}

@media (min-width: 768px){
  .stay-tuned {
    // border: 10px solid $blue-1;
    margin-top: 0px;
  }
  #header-container {
    // height: 600px;
  }
  .hacknc-body {
    background-color: $blue-4;
  }
  .apply {
    // padding-top: 23%;
    padding-top: 0px;
    top: 42%;
    position: fixed;
  }
  .tape {
    display: block;
  }
  .mobile-no-parallax {
    display: none;
  }
  .parallax {
    display: block;
  }
  .navi li {
    font-size: 22px;
    // width: 100px;
    padding-left: 40px;
    margin-top: 0px;
  }
  #navbar {
    // bottom: 0px
    top: initial;
    background-color: $gray;
    border-bottom: 3px solid $light-gray;
  }
  .footer .navi{
    display: block;
  }
}
@media (min-width: 1170px){
  #header-container {
    // height: 850px;
  }
  .apply {
    // padding-top: 340px;
    // top:40%;
  }
  #navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media (min-width: 1400px){
  .navi li {
    font-size: 24px;
  }
}

.black {
  background-color: $black;
}

.centered {
  margin-right: auto;
  margin-left: auto;
  display:block;
}