doctype html
html
  head
    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='shortcut icon', type='image/ico', href='https://hacknc.com/img/favicon.ico')

  body.external
    
    iframe(src="https://kiwiirc.com/client/irc.freenode.com/#hacknc" style="border:0; width:100%; height:900px;")