doctype html
html(style="height:100%;")
  head
    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='shortcut icon', type='image/ico', href='https://hacknc.com/img/favicon.ico')

  body.external(style="height:100%;margin: 0px;")
    
    iframe(src="https://kiwiirc.com/client/irc.freenode.com/#hacknc" style="border:0; width:100%; height:99%;")