doctype html
html
  head

    // meta
    meta(property='og:title', content='HackNC Fall 2016')
    meta(property='og:image', content='https://hacknc.com/img/flattened.png')
    meta(property='og:url', content='https://hacknc.com')
    meta(property='og:site_name', content='HackNC 2016')
    meta(property='og:description', content="HackNC is a weekend for students of all skill levels to broaden their talents. Your challenge is to make an awesome project in just 24 hours. You will have access to hands-on workshops and demos from our sponsors, as well as exciting talks about the awesome things happening right now with computer science and technology - not to mention all of the free food, shirts, stickers, and swag!")
    meta(name="description" content="HackNC is a weekend for students of all skill levels to broaden their talents. Your challenge is to make an awesome project in just 24 hours. You will have access to hands-on workshops and demos from our sponsors, as well as exciting talks about the awesome things happening right now with computer science and technology - not to mention all of the free food, shirts, stickers, and swag!")

    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/main.js')
    script $(window).load(init);

  body.hacknc-body
    
    include ./homepage/_header.jade

    include ./shared/_navbar.jade
    
    include ./homepage/_info.jade
    
    include ./homepage/_faq.jade
        
    include ./homepage/_sponsors.jade

    include ./homepage/_schedule.jade
    
    include ./homepage/_apply.jade

    include ./shared/_footer.jade
