doctype html
html
  head
    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='shortcut icon', type='image/ico', href='https://hacknc.com/img/favicon.ico')
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/main.js')
    script $(window).load(init);

  body.hacknc-body
    
    include ./homepage/_header.jade

    include ./shared/_navbar.jade
    
    include ./homepage/_info.jade
    
    include ./homepage/_faq.jade
        
    include ./homepage/_sponsors.jade
    
    include ./homepage/_mailchimp.jade

    include ./shared/_footer.jade

