doctype html
html
  head
    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='shortcut icon', type='image/ico', href='https://hacknc.com/img/favicon.ico')
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/main.js')

  body.external
    
    include ./shared/_external_header.jade

    include ./shared/_navbar.jade
    
    .shell.blue.dash-shell
        #dash.anchor
        .container
            .row
                // ---- First Column --------
                .col-xs-24.col-sm-12.col-md-6
                    
                    // --------- WIFI ----------
                    .panel.panel-default
                        .panel-heading 
                            h3 Wi-Fi Access &nbsp
                                i.fa.fa-wifi
                        .panel-body 
                            p To access wifi, you will need to join one of the following.
                        table.table
                            tr
                                td EDUROAM
                                td  Preferred: You must have already set up EduRoam at your school for it to work here.
                            tr
                                td UNC-Guest-PSK 
                                td The password is 'ThisIsNotAMomentItsTheMovement' - Visit the Help Desk if you need help setting up!
                            tr
                                td UNC Guest
                                td Limited access.  Only has port 80 and 443 open. Bad for hacking.
                    
                    // ------- Help Desk ----------       
                    .panel.panel-default 
                        .panel-heading
                            h3 Help Desk &nbsp
                                i.fa.fa-question-circle
                        .panel-body
                            p For both technical and non-technical issues, The best place to get help from a HackNC organizer is the help desk.  See also: hotline.
                            h4 Location:
                            p Gym A (Blue Gym)

                    // -------- Venue Map -------
                    .panel.panel-default
                        .panel-heading
                            h3 Venue Map &nbsp
                                i.fa.fa-map
                        .panel-body
                            img.centered(src="img/fetzer-map-2.png", width="100%")


                    // ----------- Hardware Lab -----
                    .panel.panel-default 
                        .panel-heading
                            h3 Hardware Lab &nbsp
                                i.fa.fa-laptop
                        .panel-body
                            p We have hardware! If you want to borrow something, head on over to the Hardware desk.
                            h4 Location
                            p  Gym A (Blue Gym)


                    // ---------- Hotline -----
                    .panel.panel-default 
                        .panel-heading 
                            h3 Text Hotline &nbsp
                                i.fa.fa-volume-control-phone
                        .panel-body
                            p You can send a text to this number any time!  Is it too cold?  Are the trash cans overflowing?  If there's something we should know about, shoot us a text.  An organizer will reply ASAP.
                            .alert.alert-success(role="alert")
                                strong Call or Text  
                                | &nbsp&nbsp +1 (470) 242-4225

                
                // ---- Second Column --------
                .col-xs-24.col-sm-12.col-md-6                    
                    
                    // ---------- Mentors --------
                    .panel.panel-default 
                        .panel-heading
                            h3 Mentors &nbsp
                                i.fa.fa-users 
                        .panel-body
                            p Need help with your hack?  Stuck?  Need ideas?  Talk to a mentor!  This year, HackNC is using HelpQ.
                            a.btn.btn-success(role="button", href="https://help.hacknc.com") Request a mentor!
                    
                    // -------- Devpost Submit -------
                    .panel.panel-default
                        .panel-heading
                            h3 Prizes / Submissions &nbsp
                                i.fa.fa-trophy
                        .panel-body
                            p Check out prizes and submit a hack for judging.  
                            a.btn.btn-success(role="button", href="https://hacknc-2016.devpost.com/") View Devpost


                    // ---------- Schedule -----
                    .panel.panel-default 
                        .panel-heading 
                            h3 Schedule &nbsp
                                i.fa.fa-calendar
                        .panel-body
                            p Stay in the know!  We will try to keep the site schedule current.
                            a.btn.btn-success(role="button", href="/#schedule") View Schedule

                            
                    // ----- Workshops
                    .panel.panel-default
                        .panel-heading
                            h3 Workshop Schedule &nbsp
                                i.fa.fa-calendar
                        .panel-body
                            p Stuck?  Need an idea?  We have workshops!
                        table.table
                            tr
                                td 1:00PM - 2:00PM
                                td Intro to UI Web Automation with Marcos Prieto of Fidelity
                                td Classroom 2
                            tr
                                td 1:00PM - 1:30PM
                                td Zero to 60 with Ruby on Rails presented by Sherwood Callaway of CapTech
                                td Classroom 3
                            tr 
                                td 1:30 PM - 2:00PM
                                td Intro to Nessie, Capital One’s Hackathon API presented by Bori Oludemi
                                td Classroom 3
                            tr 
                                td 2:00PM - 3:00PM
                                td Designing for Diversity presented by Tessa Joseph-Nicholas
                                td Classroom 2
                            tr
                                td 2:00PM - 3:00PM
                                td Think, Type, Magic Happens presented by Gary Bishop (UNC Professor)
                                td Classroom 3
                            tr
                                td 3:00PM - 4:00PM
                                td Depoying your apps to the coud ising coudfoundry and IBM Bluemix.
                                td Classroom 2
                            tr
                                td 3:00PM - 4:00PM
                                td Women in Tech with Madison Pfaff
                                td Classroom 3
                            tr
                                td 4:00PM
                                td UNC Makerspace Field Trip (3D Printing)
                                td Meet in lobby
                            tr
                                td 4:00PM - 5:00PM
                                td Building a Single Page web app in minutes presented by - Abel Getachew of Capital One
                                td Classroom 3
                            tr
                                td 4:00PM - 5:00PM
                                td Mastering Technical Interviews – Inside Scoop from the Recruiter’s Perspective presented by Matt Steinberg of Infusion
                                td Classroom 2
                            tr
                                td 5:00PM - 6:00PM
                                td 10 Things Comp Sci Majors Should Know About Developer Testing with Chima Uwah of CapTech
                                td Classroom 2
                            tr
                                td 5:00PM - 6:00PM
                                td Intro to Docker presented by Shashank Adepu of CapTech
                                td Classroom 3
                            tr
                                td 6:00PM - 6:30PM
                                td Esri API Workshop
                                td Classroom 3
                            tr
                                td 7:00PM
                                td UNC Makerspace Field Trip (3D printing)
                                td meet in lobby
                                
                    
                    // ---------- Chat -------
                    .panel.panel-default
                        .panel-heading 
                            h3 Chat &nbsp
                                i.fa.fa-comments-o
                        .panel-body 
                            p To chat with your fellow hackers, the organizers, and mentors, hop onto our IRC channel.  To use a custom client, the connection details are below.  This chatroom is meant as a place to talk to chit-chat with everyone at the event.  If you have requests or issues from the HackNC Team, see the Hotline/Help Desk sections.
                            a.btn.btn-success(role="button", href="/chat") Join #HackNC
                        table.table
                            tr
                                td Host
                                td irc.freenode.com
                            tr
                                td Channel
                                td #HackNC