doctype html
html
  head
    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='shortcut icon', type='image/ico', href='https://hacknc.com/img/favicon.ico')
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/main.js')

  body.external
    
    include ./shared/_external_header.jade

    include ./shared/_navbar.jade

    img.centered(src="img/fetzer-map-2.png")