doctype html
html
  head
    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='shortcut icon', type='image/ico', href='https://hacknc.com/img/favicon.ico')
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/main.js')
    script load_markdown("resource-content", "/markdown/resources.md");

  body.external
    
    include ./shared/_external_header.jade

    include ./shared/_navbar.jade
    
    .shell.markdown
      .container
        .row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
            #resource-content

    include ./shared/_footer.jade
