doctype html
html
  head
    include ./shared/_meta.jade
    link(rel='shortcut icon', type='image/ico', href='/img/favicon.ico')
    link(rel='shortcut icon', type='image/ico', href='https://hacknc.com/img/favicon.ico')
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/main.js')
    script load_markdown("travel-content");

  body.external
    
    include ./shared/_external_header.jade
    
    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.5455744489323!2d-79.0492377846824!3d35.90914378014166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89acc2ebcfb4e35d%3A0xb991103885fe76ce!2sFetzer+Gym!5e0!3m2!1sen!2sus!4v1471173161387" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen)
    
    .shell.markdown
      .container
        .row
          .col-sm-12.col-md-8.col-md-offset-2
            #travel-content

    include ./shared/_footer.jade
