.shell.gray.footer-shell
  #footer.anchor
  .container
    .footer.subsection.row
      .col-lg-2.col-lg-offset-2.col-md-3.col-md-offset-1.col-sm-4.content
        a(href='http://cs.unc.edu')
          img(src='img/50th-wide-30.png', width='180', height='205')
      .col-lg-4.col-sm-4.col-md-4.content
        a(href='http://mlh.io')
          img(src='img/mlh-logo-white.png', width='180', height='105', style='margin-top:50px;')
        p.gitlink
          | HackNC 2016 site by 
          a(href='https://github.com/HackNC/fall2016/graphs/contributors') these folks
      .col-lg-2.col-sm-3.col-md-3.content
        // Navigation
        ul.navi
          li: a.subtle-link(href='/#about') About
          li: a.subtle-link(href='/#faq') FAQ
          li: a.subtle-link(href='/#sponsor') Sponsor
          li: a.subtle-link(href='/#schedule') Schedule
          li: a.subtle-link(href='/travel') Travel
          li: a.subtle-link(href='/resources') Resources