#navbar.shell.relative
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        ul.navi.relative
          li: a.subtle-link(href='#about') About
          li: a.subtle-link(href='#faq') FAQ
          li: a.subtle-link(href='#sponsor') Sponsor
          li: a.subtle-link(href='#subscribe') Subscribe
.tape