a(id='mlh-trust-badge' href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=gray" target="_blank")
  img(src="/img/gray.png" alt="Major League Hacking 2017 Hackathon Season" width="5%")

#navbar.shell.relative
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        ul.navi.relative
          li: a.subtle-link(class="extra" href='/#about') About
          li: a.subtle-link(href='/#faq') FAQ
          li: a.subtle-link(href='/#sponsor') Sponsor
          li: a.subtle-link(href='/#subscribe') Subscribe
          li: a.subtle-link(href='/travel.html') Travel
          li: a.subtle-link(href='/resources.html') Resources