.shell.blue.subscribe-shell
  #apply.anchor
  .container
    .subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Applications are closed!
        p Applications are closed!  Thanks to everyone who applied.  If you have any questions about your application or if you have not received a response, shoot an email to hello@hacknc.com.  Thanks!