.shell.blue.subscribe-shell
  #apply.anchor
  .container
    .subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Apply
    .subsection.row
      .col-lg-4.col-lg-offset-2.col-md-5.col-md-offset-1.content.apply-section
        ol
          li Read the MLH code of conduct
          li Learn about our travel policy
          li Thoughtfully fill out the application
          li Tell everyone you know!
      .col-lg-4.col-md-5.content.apply-section
        #apply-button
          a.btn(href="https://my.hacknc.com") Apply now