.shell.blue.subscribe-shell
  #apply.anchor
  .container
    .subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Late Admission
        p Applications are in late-admissions phase.  We have already processed applications up to Oct 14 at midnight EST.  If you applied before that date and have not received an email, please inquire to hello@hacknc.com.  Applications received now will be reviewed on a rolling basis as space is available. Thanks!
    .subsection.row
      .col-lg-4.col-lg-offset-2.col-md-5.col-md-offset-1.content.apply-section
        ol
          li Read the 
            a(href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf") MLH code of conduct.
          li Learn about our 
            a(href="/travel") travel policy.
          li Thoughtfully fill out the application.
          li 
            a(href="/#social") Tell everyone you know!
      .col-lg-4.col-md-5.content.apply-section
        #apply-button
          a.btn(href="https://my.hacknc.com?source=body") Apply