.shell.gray.faq-shell
      #faq.anchor
      .container
        .subsection.row
          .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
            h2 FAQs
            .row.faq-row
              .col-xs-24.col-sm-12.col-md-6
                .faq 
                  .panel-heading.faq-heading
                    h3 What is a hackathon?
                  .panel-body.faq-body A hackathon is a weekend of fun and learning. You'll become a better programmer, meet awesome people, and make cool stuff.  There will also be opportunities to win cool prizes and network with our sponsors.

                .faq 
                  .panel-heading.faq-heading
                    h3 What if I'm in high school?
                  .panel-body.faq-body As long as you'll be 18 by October 28, 2016, we would love for you to come to HackNC.  Unfortunately (because of the incredible amount of paperwork involved) we won't be able to accept anyone under the age of 18.

                .faq 
                  .panel-heading.faq-heading
                    h3 Can I hack?
                  .panel-body.faq-body High schoolers over 18, undergraduates, and graduate students are welcome to participate as hackers.  Professionals should check out mentorship.

                .faq 
                  .panel-heading.faq-heading
                    h3 How do I get in?
                  .panel-body.faq-body Anyone can attend HackNC. #[a(href='#apply') Apply] Our admission criteria doesn't include your level of experience.

                .faq 
                  .panel-heading.faq-heading
                    h3 Got any hardware?
                  .panel-body.faq-body You bet!  MLH is providing the #[a(href='https://mlh.io/hardware-lab') full hardware lab]. In addition, we will have soldering kits and other assorted components, Arduinos, Raspberry Pis, sensors, and more Pebbles than you can wear on four limbs...
                
                .faq 
                  .panel-heading.faq-heading
                    h3 Can I mentor?
                  .panel-body.faq-body Professionals are welcome to join as mentors, sponsors, or lecturers.  If you want to come as a mentor, send an email to hello@hacknc.com and tell us how you'd like to get involved!

              .col-xs-24.col-sm-12.col-md-6

                .faq 
                  .panel-heading.faq-heading
                    h3 Will I fit in?
                  .panel-body.faq-body Definitely! HackNC and the UNC Computer Science Department are committed to making computer science a more diverse field. Inclusiveness is a top priority for us, and we've been beginner-friendly from the start.
 
                .faq 
                  .panel-heading.faq-heading
                    h3 Can I use old code?
                  .panel-body.faq-body You may use all the publicly available code and APIs that you want, but the code you will be judged on at the end of the hackathon must be new.

                .faq 
                  .panel-heading.faq-heading
                    h3 What about sleep?
                  .panel-body.faq-body You should do it!  Bring your own pillow and sleeping bag or blankets. There will be a sleeping space available Friday and Saturday nights.  More info available on our travel page.
                
                .faq 
                  .panel-heading.faq-heading
                    h3 Travel costs?
                  .panel-body.faq-body If you want to come, we want to help get you here.  We will have a limited number of reimbursements for carpooling.  Unfortunately, the deadline for ticket reimbursement has passed.
                    a(href="/travel") on the travel page.

                .faq 
                  .panel-heading.faq-heading
                    h3 Will there be food?
                  .panel-body.faq-body Don’t worry - we’ll provide six full meals throughout the hackathon and there will be plenty of snacks in between. You won’t be hungry.

                .faq 
                  .panel-heading.faq-heading
                    h3 How can I volunteer or mentor?
                  .panel-body.faq-body You can volunteer at HackNC by filling out #[a(href='https://goo.gl/forms/KlMBSbioDxOGL48m2') this form].  Mentors should fill out #[a(href='https://docs.google.com/forms/d/e/1FAIpQLSfPRxmxeb2tItqlEwE66OxCogrJ9zKN5FkMll1L-2A3q4xgmA/viewform') this one].