.parallax
  .parallax-window(data-parallax='scroll', data-image-src='img/medium-landing/layer2.png', data-speed='.8')
    .parallax-window(data-parallax='scroll', data-image-src='img/medium-landing/title.png', data-speed='.1')
      .parallax-window(data-parallax='scroll', data-image-src='img/medium-landing/layer3.png', data-speed='.6')
        .parallax-window(data-parallax='scroll', data-image-src='img/medium-landing/layer4.png', data-speed='.4')
          #header-container
            .apply
              h3 October 28 - 30, 2016
              #apply-button
                a.btn.centered(href='https://my.hacknc.com/?source=header') Apply
.mobile-no-parallax
  .apply
    h3 October 28 - 30, 2016
    #apply-button
      a.btn.centered(href='#apply') Apply