.shell.gray.teaser-shell
  #teaser.anchor
  .container
    .stay-tuned.subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Sit tight, fam
        p HackNC is gearing up for the best year ever.  We're still working out some of the details, but we'll have updates for you constantly, so #[a(href='#subscribe') check back often] and look for applications to open in August.  If you have any questions (or just to say hello!) check our social media, or shoot an email to #[a(href='mailto:hello@hacknc.com') hello@hacknc.com].  We look forward to seeing you on October 28th!

.shell.blue.social-shell
  #social.anchor
  .container
    .row.social-media.subsection
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-sm-12
        ul.social-media.centered
          li: a(href='https://www.facebook.com/thehacknc/?fref=ts')
              i.fa.fa-facebook-official
              |  Facebook
          li: a(href='mailto:hello@hacknc.com')
              i.fa.fa-envelope
              |  hello@hacknc.com
          li: a(href='https://www.snapchat.com/add/hacknc')
              i.fa.fa-snapchat-square
              |  HackNC
          li: a(href='https://twitter.com/thehacknc')
              i.fa.fa-twitter-square
              |  @TheHackNC
      .col-xs-12.col-xs-offset-0.col-sm-6.col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2
        #info-box
          p#info 
            a(href='https://cs.unc.edu', target='_blank', class='no-decoration-link')
              i.fa.fa-university
              |  UNC Chapel Hill 
          p#info 
            a(href="http://www.google.com/maps/dir/''/fetzer+gym/@35.9091235,-79.1170892,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89acc2ebcfb4e35d:0xb991103885fe76ce!2m2!1d-79.0470491!2d35.9091438", target='_blank', class='no-decoration-link')
              i.fa.fa-map-marker 
              |  Fetzer Gymnasium
          p#info 
            a(href='https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=ZmRuaW8xNjk4N2V2b29hYTlhdjRsMTZxaTAgZGF2aXNiYUBjcy51bmMuZWR1&tmsrc=davisba%40cs.unc.edu', target='_blank'  class='no-decoration-link')
              i.fa.fa-calendar-plus-o
              |  October 28 - 30, 2016
      .col-xs-12.col-sm-5.col-md-4.col-lg-3
        img.centered.ram-sprite(src='img/ram-animated-256px.gif')

.shell.gray.about-shell
  #about.anchor
  .container
    // Do we want columns?
    // There should be an outer div here to take up the page width.  Then an innter div with the main content.
    .row.mission-statment.subsection
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Begin an adventure
        p HackNC is a weekend for students of all skill levels to broaden their talents. Your challenge is to make an awesome project in just 24 hours. You will have access to hands-on demos and workshops from our sponsors as well as exciting talks about the awesome things happening right now with computer science. During your time here you can enjoy all the free food, clothes, stickers, water bottles, computer accessories, and other miscellanea that you have ever desired.