.shell.gray.schedule-shell
  #schedule.anchor
  .container
    .schedule.subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Schedule
        table
          tbody

            // FRIDAY
            tr.day
              td.daycell Friday
            tr
              td.time 7:00 PM
              td.event Check-in begins for traveling hackers
              td.place Fetzer lobby
            tr
              td.time 8:00 PM
              td.event Pizza for traveling hackers
              td.place TBA
            tr
              td.time 9:00 PM
              td.event Movie
              td.place Gym B
            tr
              td.time 10:00 PM
              td.event Sleeping rooms available
              td.place Squash courts
            tr
              td.time 11:00 PM  
              td.event Late night tour of UNC            
              td.place UNC campus
            
            // SATURDAY
            tr.day
              td.daycell Saturday
            
            tr
              td.time 7:00 AM
              td.event Check-in begins for RSVP'd hackers.
              td.place Fetzer Lobby
            tr
              td.time 7:30 AM
              td.event Breakfast
              td.place Food location
            tr
              td.time 9:30 AM
              td.event Check-in begins for everyone
              td.place Fetzer Lobby
            tr
              td.time 10:00 AM
              td.event Opening ceremony begins
              td.place Gym B
            tr
              td.time 11:00 AM
              td.event Team formation
              td.place Gym B
            tr
              td.time 11:00 AM
              td.event Sponsor Fair
              td.place Gym B
            tr
              td.time 11:00 AM
              td.event Hacking begins!
              td.place Gym A / Gym B
            tr
              td.time 12:00 PM 
              td.event Lunch
              td.place Fetzer food area
            tr
              td.time 1:00 PM
              td.event #[a(href='/live') Workshops and talks] begin.
              td.place Classrooms
            tr
              td.time 7:00 PM
              td.event Dinner
              td.place Fetzer food area
            tr 
              td.time 8:00 PM
              td.event Cup stacking with MLH
              td.place Gym A open area
            tr
              td.time 9:00 PM
              td.event Costume Contest 
              td.place Gym A stage
            tr
              td.time 10:00 PM
              td.event Watchdogs 2 Cybersecurity Challenge (CTF)
              td.place Gym A stage
            tr 
              td.time 10:00 PM
              td.event Video Games
              td.place Classrooms
            tr 
              td.time 12:00 AM
              td.event Midnight Snack
              td.place Fetzer food area
            tr
              td.time 1:00 AM
              td.event Frisbee on Hooker Fields
              td.place Hooker Fields
        
            // SUNDAY
            tr.day
              td.daycell Sunday
            tr
              td.time 8:00 AM
              td.event Breakfast
              td.place Fetzer food area
            tr 
              td.time 11:00 AM
              td.event Hacking ends
              td.place 
            tr 
              td.time 11:00 AM
              td.event Lunch 
              td.place Fetzer food area
            tr 
              td.time 11:30 AM
              td.event Judging starts
              td.place Gym A
            tr
              td.time 1:30 PM
              td.event Closing Ceremony
              td.place Gym B
        
        p *schedule subject to change