.shell.gray.schedule-shell
  #schedule.anchor
  .container
    .schedule.subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Schedule
        table
          tbody
            tr.day
              td.daycell Friday
            tr
              td.time 7:00 PM
              td.event Check-in begins for traveling hackers
              td.place Fetzer lobby
            tr
              td.time 8:00 PM
              td.event Pizza for traveling hackers
              td.place TBA
            tr
              td.time 9:00 PM
              td.event Movie
              td.place Gym B
            tr
              td.time 10:00 PM
              td.event Sleeping rooms available
              td.place 
            tr
              td.time 11:00 PM
              td.event Late-night tour of UNC
              td.place UNC campus
            tr.day
              td.daycell Saturday
            tr
              td.time 7:00 AM
              td.event Check-in begins for everyone
              td.place Fetzer Lobby
            tr
              td.time 7:30 AM
              td.event Breakfast is served
              td.place Food location
            tr
              td.time 9:30 AM
              td.event Opening ceremony begins
              td.place Gym B
            tr
              td.time 10:30 AM
              td.event Team formation
              td.place Gym B
            tr
              td.time 11:00 AM
              td.event Sponsor Fair
              td.place Gym B
            tr
              td.time 11:00 AM
              td.event Hacking begins!
              td.place Gym A / Gym B
            tr
              td.time 12:00 PM 
              td.event Lunch
              td.place TBA
            tr
              td.time 1:00 PM
              td.event Workshops and talks begin 
              td.place Classrooms
            tr 
              td.time 3:00 PM
              td.event Women in Tech w/ #[a(href='https://twitter.com/madison_pfaff') Maddi Pfaff]
              td.place Classrooms
            tr 
              td.time 6:00 PM
              td.event Workshops and talks end
              td.place 
            tr
              td.time TBA
              td.event Dinner
              td.place TBA
            tr 
              td.time 8:00 PM
              td.event Cup stacking with MLH
              td.place TBA
            tr
              td.time 10:00 PM
              td.event Capture the flag
              td.place Hooker Fields
            tr 
              td.time 11:00 PM
              td.event Video Games
              td.place Classrooms
            tr 
              td.time 12:00 AM
              td.event Midnight Snack
              td.place TBA
            tr.day
              td.daycell Sunday
            tr
              td.time 8:00 AM
              td.event Breakfast
              td.place TBA
            tr 
              td.time 11:00 AM
              td.event Hacking ends
              td.place 
            tr 
              td.time 11:00 AM
              td.event Lunch 
              td.place TBA
            tr 
              td.time TBA
              td.event Judging starts
              td.place Gym A
            tr
              td.time 2:30 PM
              td.event Closing Ceremony
              td.place Gym B
        p *schedule subject to change