.shell.gray.sponsor-shell
  #sponsor.anchor
  .container
    .sponsor.subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Sponsor Us!
        p HackNC is entirely student-run, and this will be our fourth incredible hackathon since we began in 2014! Our event is possible thanks to funding from our wonderful sponsors. Your contributions help bring 500+ hackers from all over to an action-packed weekend of innovation through creation. By attending, you can meet hundreds of job-seekers and speak to them during the designated sponsor fair and throughout the whole event. You can also promote your products and services while mentoring and connecting with HackNC participants, volunteers, and organizers.
    .sponsor.subsection.row
      .col-lg-4.col-lg-offset-2.col-md-5.col-md-offset-1.content
        p For a full break-down of our tiers and perks, shoot us an email and we'll get you a point of contact and a copy of our sponsorship information packet.
      .col-lg-4.col-md-5.col-md-offset-0.col-lg-offset-0.content
        #sponsor-email.round-border.fancy
          i.fa.fa-envelope(aria-hidden='true')&nbsp
          i.fa.fa-long-arrow-right(aria-hidden='true')&nbsp
          i.fa.fa-users(aria-hidden='true')
          br
          a.subtle-link(href='mailto:fundraising@hacknc.com') fundraising@hacknc.com