.shell.gray.sponsor-shell
  #sponsor.anchor
  .container
    .sponsor.subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Our Sponsors
        p HackNC is entirely student-run, and this will be our fourth incredible hackathon since we began in 2014! Our event is made possible thanks to funding from our wonderful sponsors.

.shell.white.sponsor-shell
  #sponsor.anchor
  .container
    .sponser.subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        .logo-container
          img.one(src="img/sponsor/c1.png")
          img.one(src="img/sponsor/captech.jpg")
        .logo-container
          img.two(src="img/sponsor/esri.jpg")
          img.two(src="img/sponsor/ibm.jpg")
          img.two(src="img/sponsor/infusion.png")
          img.two(src="img/sponsor/sql_sentry.jpg")
