.shell.gray.sponsor-shell
  #sponsor.anchor
  .container
    .sponsor.subsection.row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.content
        h2 Our Sponsors
        p HackNC is entirely student-run, and this will be our fourth incredible hackathon since we began in 2014! Our event is made possible thanks to funding from our wonderful sponsors.

.shell.white.sponsor-shell
  #sponsor.anchor
  .container
    .sponser.subsection.row
      .col-lg-10.col-lg-offset-1.col-md-10.col-md-offset-1.content
        
        // Diamond
        .logo-container
          a(href="https://www.capitalone.com/")
            img.one(src="img/sponsor/c1.png")
          a(href="https://www.fidelity.com/")
            img.one(src="img/sponsor/wrong/fidelity.jpg")

        // Gold
        .logo-container 
          a(href="http://www.esri.com/")
            img.two(src="img/sponsor/esri.jpg")
          a(href="http://www.samsung.com/us/")
            img.two(src="img/sponsor/wrong/samsung.png")
          a(href="http://www.infusion.com/")
            img.two(src="img/sponsor/infusion.png")
          a(href="https://sentryone.com/")
            img.two(src="img/sponsor/sentryone2.png")
          a(href="https://www.google.com/about/careers/")
            img.two(src="img/sponsor/wrong/google.png")
          a(href="https://www.captechconsulting.com/")
            img.two(src="img/sponsor/captech.png")
          a(href="https://ibm.com/")
            img.two(src="img/sponsor/ibm.jpg")
          a(href="https://www.optum.com/")
            img.two(src="img/sponsor/optum.jpg")
          a(href="http://innovate.unc.edu/")
            img.two(src="img/sponsor/innovate.png")

        // Bronze
        .logo-container
          a(href="https://www.namecheap.com/")
            img.three(src="img/sponsor/wrong/namecheap.png")
          a(href="http://www.sas.com/en_us/home.html")
            img.four(src="img/sponsor/wrong/sas.png")
          a(href="https://www.microsoft.com/en-us/")
            img.three(src="img/sponsor/wrong/microsoft.png")
        
        .logo-container
          a(href="https://www.inin.com/")
            img.twoandahalf(src="img/sponsor/inin.png")
          a(href="https://www.uhc.com/")
            img.twoandahalf(src="img/sponsor/united.png")